*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.right{
    width: 300px;
    height: 133px;
    float: right;
    margin-right: 14px;
    margin-top: 18px;
    border: 1px solid #dddddd;
    .top{
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-left: 15px;
        font-size: 12px;
        color: #007600;;
    }
    .bot{
        height: 54px;
        padding: 14px 18px;
        background-color: #f3f3f3;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .btn{
        width: 260px;
        height: 30px;
        background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
        border-width: 1px;
        border-style: solid;
        border-color: #a88734;
        text-align: center;
        line-height: 30px;
        font-size: 13px;
        position: relative;
        top: -42px;
        left: 20px;
        cursor: pointer;
        .block{
            width: 20px;
            height: 20px;
            border-radius: 3px;
            background-color: #111;
            color: #fff;
            line-height: 20px;
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }
    .btn:hover{
        background-image: linear-gradient(#f9e7bb,#eeba35);
    }
}
header{
    height: 100px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(#ffffff,#f1f1f1);

    .logo{
        width: 130px;
        height: 50px;
        left: 30px;
        position: absolute;
        display: block;
        float:left;
        img{
            width: 100%;
            height: 100%;
        }
        
    }



    .nav-list{
        left: 15px;
        position: absolute;
        bottom: -390px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        z-index: 1;
        display: none;
        ul{
            width: 160px;
            height: 400px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;   
            padding-left: 0px;
        }
        li{
            text-indent:10px;
            font-size: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .weight{
            font-weight: 600;
            span{
                font-size: 14px;
                color: #8c8c8c;
            }
        }
        li:last-child{
            color: #666666;
        }
        a{
            color: #000;
            text-decoration: none;
        }
        a:hover{
            color: #ff8c00;
            text-decoration: underline;
            font-weight: 600;
            
        }
        .icon-iconfontjiantou5{
            margin-right: 10px;
            font-size: 13px;
            color: #ccc;
        }
        .cartlist{
            top: 0px;
            left: 160px;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 400px;
            width: 400px;
            display: none;
            .active{
                display: block;
            }
            .item:first-child{
                margin: 10px;
                h3{
                    font-weight: normal;
                    color: #e47911;
                }
                span{
                    color: #e47911;
                }
            }
        }

    }        
    
    .nav-shop{
        height: 44px;
        top: 46px;
        left: 15px;
        position: absolute;
        border-radius: 3px;
        cursor: pointer;
        color: #000;
        span:first-child{
            font-size: 12px;
        }
        span:last-child{
            font-size: 14px;
            font-weight: 600;
        }
        span{
            margin: 0 10px;
        }
    }
    .nav-shop:hover{
        border: 1px solid #ccc;
        
    }
    .search{
        top:11px;
        left: 192px;
        width: 952px;
        height: 33px;
        position: absolute;
        display: block;
        border: 1px solid #dadada;
        border-radius: 4px;
        select{
            height: 33px;
            border-right: 1px solid #dadada;
            border-style: none; 
        }
        #ser{
            float:right;
            position: relative;
            width: 42px;
            height: 35px;
            border-color: #485059 #2c3137 #363c43 #485059;
            background-image: linear-gradient(#878c92,#505860);
            border-radius: 2px;
            cursor: pointer;
            border-width: 1px;
        }
        #ser:hover{
            background-image: linear-gradient(#71767e,#3a424c);
          }
        img{
            float: right;
            position: absolute;
            right: -374px;
            top: -5px;
        }
        .iconfont{
            position: absolute;
            right: 11px;
            top: 8px;
        }
        .icon-fangdajing{
            color: white;
            cursor: pointer;
        }
    }
    .nav{
        width: 936px;
        height: 55px;
        position: absolute;
        // background-color: #ccc;
        top: 46px;
        left: 192px;
        ul{
            list-style: none;
        }
        li{
            float: left;
            line-height: 55px;
        }
        a{
            font-size: 13px;
            padding:0 9px;
            color: #05a;
            text-decoration:none;
        }
        a:hover{
            text-decoration: underline;
            color:#ff8c00;
        }
        
    }
    .leftmenu{
        float: left;
    }
    .rightmenu{
        float: right;
        width: 310px;
        // background-color: red;
        position: relative;
        margin-top: 50px;
        .menurig{
            position: absolute;
            top: 0px;
            height: 44px;
            border-radius: 3px;
            cursor: pointer;
            span:first-child{
                font-size: 12px;
            }
            span:last-child{
                font-size: 14px;
                font-weight: 600;
            }
            span{
                margin: 0 10px;
            }
            a{
                color: #000000;
                text-decoration: none;
            }
            .loginbox{
                width: 200px;
                height: 300px;
                background-color: white;
                z-index: 1;
                border: 1px solid #dadada;
                border-radius: 3px;
                position: absolute; 
                display: none;
                cursor: default;
                .logbtn{
                    display: block;
                    width: 160px;
                    height: 30px;
                    border: 1px solid #c89411;
                    background-image: linear-gradient( #fcf3dc,#efbc3d);
                    border-radius: 2px;
                    margin: 10px auto 0px;
                    text-align: center;
                    line-height: 30px;
                    font-size:13px;
                }
                span,.reg{
                    margin-top: -10px;
                    font-size: 12px;
                }
                .reg{
                    color: #0055aa;
                }
                .reg:hover{
                    color:#E47911;
                    text-decoration: underline;
                }
                ul{
                    border-top: 1px solid #eeeeee;
                    margin: 5px 10px 5px 10px;
                    list-style-type: none;
                    padding-left: 0;
                    
                }
                .li{
                    font-size: 13px;
                    color: #444444;
                }
            }
        }
        .menurig:hover{
            border: 1px solid #ccc;
            
        }
        .menurig:hover .loginbox{
            display: block;
        }
        .x{
            left: 98px;
        }
        .y{
            left: 182px;
            .icon-gouwuche{
                display: block;
                left: -15px;
                position: absolute;
            }
            
            span{
                font-size: 14px;
                font-weight: 600;
                margin-top: 15px;
                display: block;
            }
            
        }
        .z{
            left: 247px;
            span{
                font-size: 14px;
                font-weight: 600;
                margin-top: 15px;
                display: block;
            }
            
        }
    }
}

.left{
    width: 1128px;
    height: 400px;
    margin: 20px;
    float: left;
    position: relative;
    h1{
        font-weight: 500;
        font-size: 28px;
    }
    span{
        font-size: 13px;
        position: absolute;
        right: 7px;
        top: 31px;
    }
    .cart{
        margin-top: 10px;
        height: 205px;
        width: 100%;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        position: relative;
        img{
            float: left;
            display: block;
            width: 180px;
            height: 180px;
        }
        a{
            text-decoration: none;
            font-size: 17px;
            color: #0066c0;
            display: block;
            margin-top: 20px;
            font-weight: 600;
        }
        a:hover{
            color: #c45500;
            text-decoration: underline;
        }
        .price{
            font-size: 17px;
            top: 18px;
            color: #0F1111;
            font-weight: 600;
            right: 8px;
            position: absolute;
        }
        #num{
            border-radius: 7px;
            border: 1px solid #d5d9d9;
            background-color: #fff;
            width: 50px;
            height:30px;
            margin-top: 50px;
            cursor: pointer;
            outline: none;
            option{
                width: 100px;
            }
        }
        #num:hover{
            background-color: #f7fafa;
        }
        .delete{
            cursor: pointer;
            font-size: 12px;
            color: #0066C0;
            left: 263px;
            top: 98px;
        }
        .delete:hover{
            color:#e47911;
            text-decoration: underline;
        }
        .sum{
            position:absolute;
            right: 135px;
            bottom: -30px;
        }
    }
}


footer{
    position: relative;
    bottom: 0;
    .topbox{
        width: 588px;
        margin: 0 auto;
        ul{
            list-style: none;
            float: left;
            margin-right: 50px;
            margin-left: 55px;
        a{
            color:#004B91;
            text-decoration: none;
        }
        a:hover{
            color:#E47911;
            text-decoration: underline;
        }
    }
    li{
       font-size: 13px; 
       color: #004B91;
       margin-bottom: 8px;
       cursor: pointer;
    }
        li:first-child{
            font-size: 16px;
            margin: 6px 0 14px 0;
            color: #333333;
            cursor:text;
        }
    }
    
    
    .botbox{
        position: relative;
        bottom: 0;
        height: 50px;
        .logo{
            width: 100px;
            margin: 0 auto;
            img{
                margin: 0 auto;
            }
        }
        .ul1{
            list-style: none;
            width: 640px;
            margin:0 auto;
            a{
                color:#004B91;
                font-size: 11px;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
                color:rgb(255, 140, 0);
            }
            li{
                float: left;
                padding: 0 6px;
                border-right: 1px solid #999999;
                
            }
            span{
                font-size: 11px;
                margin-left: 10px;
                color: #767676;
            }
        }
        .ul2{
            width: 374px;
            margin:1px auto;
            list-style: none;
            a{  color:#004B91;
                font-size: 11px;
                text-decoration: none;
            }
            a:hover{
                color:rgb(255, 140, 0);
                text-decoration: underline;

            }
            li{
                float: left;
                padding: 0 6px;
                border-right: 1px solid #999999;
                
            }span{
                color: #767676;
                font-size: 11px;
                margin-left: 10px;
            }
        }
        .span1{
            width: 275px;
            color: #767676;
            font-size: 11px;
            margin: 1px auto;
            display: block;
        }
        .span2{
            width: 570px;
            color: #767676;
            font-size: 11px;
            margin: 1px auto;
            display: block;
            a{
                color:#004B91;
                text-decoration: none; 
            }
            a:hover{
                color:rgb(255, 140, 0);
                text-decoration: underline;
            }
        }   
    }
}