*{
    margin: 0;      
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #000000;
}
.fixad{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    width: 600px;
    height: 120px;
    left: 400px;
    display: none;
}
.topad{
    width: 100%;
    position: relative;
    background:#f3c671;
    height: 40px;
    .imga{
        position: relative;
        background: url('https://images-cn-8.ssl-images-amazon.com/images/G/28/CN-Ad/xinjingdian20200920_82030._CB403944782_.jpg') center center no-repeat;
        a{
        display: block;
        height: 40px;
        }
        .cta{
            width: 30px;
            height: 10px;
            position: absolute;
            right: 6px;
            bottom: 13px;
        }
        img{
            width: 30px;
            height: 16px;
        }
    }

    
}

header{
    height: 100px;
    width: 100%;
    position: relative;
    .logo{
        width: 130px;
        height: 50px;
        left: 30px;
        position: absolute;
        display: block;
        float:left;
        img{
            width: 100%;
            height: 100%;
        }
        
    }
    .nav-list{
        left: 15px;
        position: absolute;
        bottom: -400px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        z-index: 1;
        ul{
            width: 160px;
            height: 400px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;   
        }
        li{
            text-indent:10px;
            font-size: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .weight{
            font-weight: 600;
            span{
                font-size: 14px;
                color: #8c8c8c;
            }
        }
        li:last-child{
            color: #666666;
        }
        a{
            color: #000;
            text-decoration: none;
        }
        a:hover{
            color: #ff8c00;
            text-decoration: underline;
            font-weight: 600;
            
        }
        .icon-iconfontjiantou5{
            margin-right: 10px;
            font-size: 13px;
            color: #ccc;
        }
        .cartlist{
            top: 0px;
            left: 160px;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 400px;
            width: 400px;
            display: none;
            .active{
                display: block;
            }
            .item:first-child{
                margin: 10px;
                h3{
                    font-weight: normal;
                    color: #e47911;
                }
                span{
                    color: #e47911;
                }
            }
        }

    }
    .nav-shop{
        height: 44px;
        top: 46px;
        left: 15px;
        position: absolute;
        border-radius: 3px;
        cursor: pointer;
        span:first-child{
            font-size: 12px;
        }
        span:last-child{
            font-size: 14px;
            font-weight: 600;
        }
        span{
            margin: 0 10px;
        }
    }
    .nav-shop:hover{
        border: 1px solid #ccc;
    }
    .search{
        top:11px;
        left: 192px;
        width: 952px;
        height: 33px;
        position: absolute;
        display: block;
        border: 1px solid #dadada;
        border-radius: 4px;
        select{
            height: 33px;
            border-right: 1px solid #dadada;
            border-style: none; 
        }
        #ser{
            float:right;
            position: relative;
            width: 42px;
            height: 35px;
            border-color: #485059 #2c3137 #363c43 #485059;
            background-color: #5B626A;
            border-radius: 2px;
        }
        img{
            float: right;
            position: absolute;
            right: -375px;
            top: -5px;
        }
        .iconfont{
            position: absolute;
            right: 11px;
            top: 8px;
        }
        .icon-fangdajing{
            color: white;
        }
    }
    .nav{
        width: 936px;
        height: 55px;
        position: absolute;
        // background-color: #ccc;
        top: 46px;
        left: 192px;
        ul{
            list-style: none;
        }
        li{
            float: left;
            line-height: 55px;
        }
        a{
            font-size: 13px;
            padding:0 9px;
            color: #05a;
            text-decoration:none;
        }
        a:hover{
            text-decoration: underline;
            color:#ff8c00;
        }
        
    }
    .leftmenu{
        float: left;
    }
    .rightmenu{
        float: right;
        width: 310px;
        // background-color: red;
        position: relative;
        margin-top: 50px;
        .menurig{
            position: absolute;
            top: 0px;
            height: 44px;
            border-radius: 3px;
            cursor: pointer;
            span:first-child{
                font-size: 12px;
            }
            span:last-child{
                font-size: 14px;
                font-weight: 600;
            }
            span{
                margin: 0 10px;
            }
            a{
                color: #000000;
            }
            .loginbox{
                width: 200px;
                height: 300px;
                background-color: white;
                z-index: 1;
                border: 1px solid #dadada;
                border-radius: 3px;
                position: absolute; 
                display: none;
                cursor: default;
                .logbtn{
                    display: block;
                    width: 160px;
                    height: 30px;
                    border: 1px solid #c89411;
                    background-image: linear-gradient( #fcf3dc,#efbc3d);
                    border-radius: 2px;
                    margin: 10px auto 0px;
                    text-align: center;
                    line-height: 30px;
                    font-size:13px;
                }
                span,.reg{
                    margin-top: -10px;
                    font-size: 12px;
                }
                .reg{
                    color: #0055aa;
                }
                .reg:hover{
                    color:#E47911;
                    text-decoration: underline;
                }
                ul{
                    border-top: 1px solid #eeeeee;
                    margin: 5px 10px 5px 10px;
                    list-style-type: none;
                }
                .li{
                    font-size: 13px;
                    color: #444444;
                }
            }
        }
        .menurig:hover{
            border: 1px solid #ccc;
            
        }
        .menurig:hover .loginbox{
            display: block;
        }
        .x{
            left: 98px;
        }
        .y{
            left: 182px;
            .icon-gouwuche{
                display: block;
                left: -15px;
                position: absolute;
            }
            
            span{
                font-size: 14px;
                font-weight: 600;
                margin-top: 15px;
                display: block;
            }
            
        }
        .z{
            left: 247px;
            span{
                font-size: 14px;
                font-weight: 600;
                margin-top: 15px;
                display: block;
            }
            
        }
    }
}
.banner{
    height: 300px;
    width: 100%;
    background-color: grey;
    overflow: hidden;
    
    .icon-iconfontjiantou1,.icon-youjiantou{
        font-size:50px;
        position: absolute;
        cursor: pointer;
    }
    .icon-iconfontjiantou1{
        left: 10px;
    }
    .icon-youjiantou{
        right:10px;
    }
    img{
        transition: 0.6s;
    }
}
.btfContent{
    float: left;
    position: relative;
}
.itemcenter{
    width: 970px;
    height: 162px;
    // background-color: pink;
    margin-left: 180.5px;
}
.goods1,.goods2,.goods3,.goods5{
    width: 1149px;
    margin: 40px 30px;
    img{
        width: 228px;
        height: 250px;
        background-color: #f9f9f9;
    }
    a{
        margin-left: 10px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
    }
    .div{
        width: 227px;
        height: 384px;
        background-color: #fafafa;
        margin-top: 10px;
        margin-right: 2px;
        float: left;
    }
    h1{
        font-size: 28px;
    }
}
.goods4{
    width: 1149px;
    margin: 40px 30px;
    .div{
        width: 227px;
        height: 384px;
        background-color: #fafafa;
        margin-top: 10px;
        margin-right: 2px;
        float: left;
    }
}
.goods1,.goods4{
    height: 427px;
    // background-color: #ffa;
    .title{
        height: 40px;
        display: block;
    }
    .price{
        margin: 10px 0;
        padding: 0 24px;
        font-size: 17px;
        color: #B12704;
    }
    h4{
        margin: 10px 0;
        padding: 0 24px;
    }
    .time{
        margin: 10px 0;
        padding: 0 24px;  
    }

}
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    z-index: 4;
    display: none;
        .shadowbox{
            width: 60%;
            height: 80%;
            margin: auto;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background-color: white;
            position: absolute;
            z-index: 5;
            border-radius: 3px;
            display: none;
            span{
                position: absolute;
                right: 10px;
                top: 5px;
                cursor: pointer;
            }
        }
}

.goods2,.goods3,.goods5{
    .listbox{
        width: 1150px;
        height: 322px;
        border: 1px solid #d8d8d8;
        margin-top: 10px;
        .div1{
            position: relative;
            float: left;
            .btn{
                position: absolute;
                background-image: linear-gradient(#fcfcfd,  #e7e9ec);
                text-align: center;
                line-height: 24px;
                width: 160px;
                height: 24px;
                border: 1px solid #8d9096;
                border-radius: 2px;
                font-size: 13px;
                bottom:90px;
                left: 30px;
                display: none;
                cursor: pointer;
            }
            .btn:hover{
                background-image: linear-gradient(#ebedf2,#d9dce1);
            }
        }
        .div1:hover .btn{
            display: block;
        }
    }
    img{
        height: 270px;
    }
    .det{
        height: 52px;
        width: 202px;
        padding: 10px 14px 0 14px;
        
    }
}
.goods2,.goods3,.goods5{
    height:365px;
    // background-color: #ccc;
}
.goods4{
    height: 654px;
    // background-color: #faf;
    .title{
        margin-bottom: 10px;
    }
    .logogroup{
        ul{
            list-style-type: none;
        }
        li{
            width: 227px;
            height: 200px;
            margin-right: 2px;
            margin-bottom: 2px;;
            background-color: #f7f7f7;
            float: left;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .box{
                width: 160px;
                height: 90px;
                display: flex;
                align-items: center;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        
        li:first-child{
            width: 456px;
            text-align: center;
            position: relative;
            span{
                margin-top: 140px;
                display: block;
                font-size: 17px;
            }img{
            width: 190px;
            height: 100px;
            position: absolute;
            top: 25px;
            left: 73px;
        }.chainz{
            width: 100px;
            height: 100px;
            left: 282px;
        }
        }
        
        
    }
}
.rightad{
    width: 310px;
    height: 1737px; 
    float: right;
    background-color: yellowgreen;
}
.maincontent{
    position: relative;
}
footer{
    width: 100%;
    height: 281px;
    position: absolute;
    // background-color: green;
    bottom: -2600px;
    // text-align: center;
    .topbox{
        height: 150px;
        width: 453px;
        margin: 0 auto;

        ul{
        list-style: none;
        float: left;
        margin-right: 50px;
        a{
            color:#004B91;
            text-decoration: none;
        }
        a:hover{
            color:#E47911;
            text-decoration: underline;
        }
    }
    li{
       font-size: 13px; 
       color: #004B91;
       margin-bottom: 8px;
       cursor: pointer;
    }
        li:first-child{
            font-size: 16px;
            margin: 6px 0 14px 0;
            color: #333333;
            cursor:text;
        }
    }
    
    
    .botbox{
        .logo{
            width: 100px;
            margin: 0 auto;
            img{
                margin: 0 auto;
            }
        }
        .ul1{
            list-style: none;
            width: 640px;
            margin:0 auto;
            a{
                color:#004B91;
                font-size: 11px;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
                color:rgb(255, 140, 0);
            }
            li{
                float: left;
                padding: 0 6px;
                border-right: 1px solid #999999;
                
            }
            span{
                font-size: 11px;
                margin-left: 10px;
                color: #767676;
            }
        }
        .ul2{
            width: 374px;
            margin:1px auto;
            list-style: none;
            a{  color:#004B91;
                font-size: 11px;
                text-decoration: none;
            }
            a:hover{
                color:rgb(255, 140, 0);
                text-decoration: underline;

            }
            li{
                float: left;
                padding: 0 6px;
                border-right: 1px solid #999999;
                
            }span{
                color: #767676;
                font-size: 11px;
                margin-left: 10px;
            }
        }
        .span1{
            width: 275px;
            color: #767676;
            font-size: 11px;
            margin: 1px auto;
            display: block;
        }
        .span2{
            width: 570px;
            color: #767676;
            font-size: 11px;
            margin: 1px auto;
            display: block;
            a{
                color:#004B91;
                text-decoration: none; 
            }
            a:hover{
                color:rgb(255, 140, 0);
                text-decoration: underline;
            }
        }   
    }
}
.banner{
    width: 1340px;
    height: 300px;
    background-color: beige;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    #ban2{
        display: none;
    }   
    .btn1,.btn2{
        position: absolute;
        bottom: -47px;
        width: 670px;
        height: 50px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        color: white;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.2s;
    }
    .active{
        background-color: #ff8c00;
    }
    .btn1{
        left: 0px;
    }
    .btn2{
        right: 0px; 
    }
    
    
}
.itemcenter{
    margin-right: 20px;
    .item1,.item2,.item3{
        margin: 10px 10px;
        width: 300px;
        position: relative;
        height: 154px;
        float: left;
        span{
            font-size: 16px;
            font-weight: 600;
        }
        span:nth-child(2){
            color: #cd4d21;
        }
        img{
            position: absolute;
            z-index: -10;
        }
    }.item1{
        img{
            top: 10px;
            left: 10px;
        }
    }
    .item1,.item2{
        border-right: 1px solid #e8e8e8;
    }
    .item2{
        a{
            font-size: 18px;
            text-decoration: none;
            color: #b12704;
            font-weight: 600;
        }
        span:last-child{
            font-size: 12px;
            font-weight: normal;
        }
        span:nth-child(2){  
            font-weight: 600;
            font-size: 16px;
            position: absolute;
        }
        img{
            top:10px;
            right: 10px;
            // right: 150px;
        }
    }
    .item3 img{
        right:1px;
        top: 20px;
    }
    title{
        height: 30px;
        width: 100px;
        span:nth-child(2){
            color: #cd4d21;
            font-size: 16px;
        }
    }
}
.rightad{
    width: 310px;
    background-color: #f9f9f9;
    text-align: center;
    img:first-child{
        margin-top:10px;
    }
    
}
.tad1,.tad2,.tad3{
    width: 265px;
    height: 290px;
    margin: 10px auto;
    border-top: 1px solid #e8e8e8;
    img{
        margin-top: 5px;
    }
}
.tad3{
    border-bottom: 1px solid #e8e8e8;
}




