* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.right {
  width: 300px;
  height: 133px;
  float: right;
  margin-right: 14px;
  margin-top: 18px;
  border: 1px solid #dddddd;
}
.right .top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-left: 15px;
  font-size: 12px;
  color: #007600;
}
.right .bot {
  height: 54px;
  padding: 14px 18px;
  background-color: #f3f3f3;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.right .btn {
  width: 260px;
  height: 30px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  border-width: 1px;
  border-style: solid;
  border-color: #a88734;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  position: relative;
  top: -42px;
  left: 20px;
  cursor: pointer;
}
.right .btn .block {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #111;
  color: #fff;
  line-height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.right .btn:hover {
  background-image: linear-gradient(#f9e7bb, #eeba35);
}

header {
  height: 100px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
header .logo {
  width: 130px;
  height: 50px;
  left: 30px;
  position: absolute;
  display: block;
  float: left;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header .nav-list {
  left: 15px;
  position: absolute;
  bottom: -390px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1;
  display: none;
}
header .nav-list ul {
  width: 160px;
  height: 400px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0px;
}
header .nav-list li {
  text-indent: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-list .weight {
  font-weight: 600;
}
header .nav-list .weight span {
  font-size: 14px;
  color: #8c8c8c;
}
header .nav-list li:last-child {
  color: #666666;
}
header .nav-list a {
  color: #000;
  text-decoration: none;
}
header .nav-list a:hover {
  color: #ff8c00;
  text-decoration: underline;
  font-weight: 600;
}
header .nav-list .icon-iconfontjiantou5 {
  margin-right: 10px;
  font-size: 13px;
  color: #ccc;
}
header .nav-list .cartlist {
  top: 0px;
  left: 160px;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 400px;
  width: 400px;
  display: none;
}
header .nav-list .cartlist .active {
  display: block;
}
header .nav-list .cartlist .item:first-child {
  margin: 10px;
}
header .nav-list .cartlist .item:first-child h3 {
  font-weight: normal;
  color: #e47911;
}
header .nav-list .cartlist .item:first-child span {
  color: #e47911;
}
header .nav-shop {
  height: 44px;
  top: 46px;
  left: 15px;
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
}
header .nav-shop span:first-child {
  font-size: 12px;
}
header .nav-shop span:last-child {
  font-size: 14px;
  font-weight: 600;
}
header .nav-shop span {
  margin: 0 10px;
}
header .nav-shop:hover {
  border: 1px solid #ccc;
}
header .search {
  top: 11px;
  left: 192px;
  width: 952px;
  height: 33px;
  position: absolute;
  display: block;
  border: 1px solid #dadada;
  border-radius: 4px;
}
header .search select {
  height: 33px;
  border-right: 1px solid #dadada;
  border-style: none;
}
header .search #ser {
  float: right;
  position: relative;
  width: 42px;
  height: 35px;
  border-color: #485059 #2c3137 #363c43 #485059;
  background-image: linear-gradient(#878c92, #505860);
  border-radius: 2px;
  cursor: pointer;
  border-width: 1px;
}
header .search #ser:hover {
  background-image: linear-gradient(#71767e, #3a424c);
}
header .search img {
  float: right;
  position: absolute;
  right: -374px;
  top: -5px;
}
header .search .iconfont {
  position: absolute;
  right: 11px;
  top: 8px;
}
header .search .icon-fangdajing {
  color: white;
  cursor: pointer;
}
header .nav {
  width: 936px;
  height: 55px;
  position: absolute;
  top: 46px;
  left: 192px;
}
header .nav ul {
  list-style: none;
}
header .nav li {
  float: left;
  line-height: 55px;
}
header .nav a {
  font-size: 13px;
  padding: 0 9px;
  color: #05a;
  text-decoration: none;
}
header .nav a:hover {
  text-decoration: underline;
  color: #ff8c00;
}
header .leftmenu {
  float: left;
}
header .rightmenu {
  float: right;
  width: 310px;
  position: relative;
  margin-top: 50px;
}
header .rightmenu .menurig {
  position: absolute;
  top: 0px;
  height: 44px;
  border-radius: 3px;
  cursor: pointer;
}
header .rightmenu .menurig span:first-child {
  font-size: 12px;
}
header .rightmenu .menurig span:last-child {
  font-size: 14px;
  font-weight: 600;
}
header .rightmenu .menurig span {
  margin: 0 10px;
}
header .rightmenu .menurig a {
  color: #000000;
  text-decoration: none;
}
header .rightmenu .menurig .loginbox {
  width: 200px;
  height: 300px;
  background-color: white;
  z-index: 1;
  border: 1px solid #dadada;
  border-radius: 3px;
  position: absolute;
  display: none;
  cursor: default;
}
header .rightmenu .menurig .loginbox .logbtn {
  display: block;
  width: 160px;
  height: 30px;
  border: 1px solid #c89411;
  background-image: linear-gradient(#fcf3dc, #efbc3d);
  border-radius: 2px;
  margin: 10px auto 0px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
}
header .rightmenu .menurig .loginbox span, header .rightmenu .menurig .loginbox .reg {
  margin-top: -10px;
  font-size: 12px;
}
header .rightmenu .menurig .loginbox .reg {
  color: #0055aa;
}
header .rightmenu .menurig .loginbox .reg:hover {
  color: #E47911;
  text-decoration: underline;
}
header .rightmenu .menurig .loginbox ul {
  border-top: 1px solid #eeeeee;
  margin: 5px 10px 5px 10px;
  list-style-type: none;
  padding-left: 0;
}
header .rightmenu .menurig .loginbox .li {
  font-size: 13px;
  color: #444444;
}
header .rightmenu .menurig:hover {
  border: 1px solid #ccc;
}
header .rightmenu .menurig:hover .loginbox {
  display: block;
}
header .rightmenu .x {
  left: 98px;
}
header .rightmenu .y {
  left: 182px;
}
header .rightmenu .y .icon-gouwuche {
  display: block;
  left: -15px;
  position: absolute;
}
header .rightmenu .y span {
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}
header .rightmenu .z {
  left: 247px;
}
header .rightmenu .z span {
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

.left {
  width: 1128px;
  height: 400px;
  margin: 20px;
  float: left;
  position: relative;
}
.left h1 {
  font-weight: 500;
  font-size: 28px;
}
.left span {
  font-size: 13px;
  position: absolute;
  right: 7px;
  top: 31px;
}
.left .cart {
  margin-top: 10px;
  height: 205px;
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.left .cart img {
  float: left;
  display: block;
  width: 180px;
  height: 180px;
}
.left .cart a {
  text-decoration: none;
  font-size: 17px;
  color: #0066c0;
  display: block;
  margin-top: 20px;
  font-weight: 600;
}
.left .cart a:hover {
  color: #c45500;
  text-decoration: underline;
}
.left .cart .price {
  font-size: 17px;
  top: 18px;
  color: #0F1111;
  font-weight: 600;
  right: 8px;
  position: absolute;
}
.left .cart #num {
  text-align: center;
  line-height: 30px; 
  float: left;
  border-radius: 7px;
  border: 1px solid #d5d9d9;
  background-color: #fff;
  width: 50px;
  height: 30px;
  margin-top: 50px;
  cursor: pointer;
  outline: none;
}
.left .cart #num option {
  width: 100px;
}
.left .cart #num:hover {
  background-color: #f7fafa;
}
.left .cart .delete {
  cursor: pointer;
  font-size: 12px;
  color: #0066C0;
  left: 263px;
  top: 98px;
}
.left .cart .delete:hover {
  color: #e47911;
  text-decoration: underline;
}
.left .cart .sum {
  position: absolute;
  right: 135px;
  bottom: -30px;
}

footer {
  position: relative;
  bottom: 0;
}
footer .topbox {
  width: 588px;
  margin: 0 auto;
}
footer .topbox ul {
  list-style: none;
  float: left;
  margin-right: 50px;
  margin-left: 55px;
}
footer .topbox ul a {
  color: #004B91;
  text-decoration: none;
}
footer .topbox ul a:hover {
  color: #E47911;
  text-decoration: underline;
}
footer .topbox li {
  font-size: 13px;
  color: #004B91;
  margin-bottom: 8px;
  cursor: pointer;
}
footer .topbox li:first-child {
  font-size: 16px;
  margin: 6px 0 14px 0;
  color: #333333;
  cursor: text;
}
footer .botbox {
  position: relative;
  bottom: 0;
  height: 50px;
}
footer .botbox .logo {
  width: 100px;
  margin: 0 auto;
}
footer .botbox .logo img {
  margin: 0 auto;
}
footer .botbox .ul1 {
  list-style: none;
  width: 640px;
  margin: 0 auto;
}
footer .botbox .ul1 a {
  color: #004B91;
  font-size: 11px;
  text-decoration: none;
}
footer .botbox .ul1 a:hover {
  text-decoration: underline;
  color: darkorange;
}
footer .botbox .ul1 li {
  float: left;
  padding: 0 6px;
  border-right: 1px solid #999999;
}
footer .botbox .ul1 span {
  font-size: 11px;
  margin-left: 10px;
  color: #767676;
}
footer .botbox .ul2 {
  width: 374px;
  margin: 1px auto;
  list-style: none;
}
footer .botbox .ul2 a {
  color: #004B91;
  font-size: 11px;
  text-decoration: none;
}
footer .botbox .ul2 a:hover {
  color: darkorange;
  text-decoration: underline;
}
footer .botbox .ul2 li {
  float: left;
  padding: 0 6px;
  border-right: 1px solid #999999;
}
footer .botbox .ul2 span {
  color: #767676;
  font-size: 11px;
  margin-left: 10px;
}
footer .botbox .span1 {
  width: 275px;
  color: #767676;
  font-size: 11px;
  margin: 1px auto;
  display: block;
}
footer .botbox .span2 {
  width: 570px;
  color: #767676;
  font-size: 11px;
  margin: 1px auto;
  display: block;
}
footer .botbox .span2 a {
  color: #004B91;
  text-decoration: none;
}
footer .botbox .span2 a:hover {
  color: darkorange;
  text-decoration: underline;
}

/*# sourceMappingURL=cart.css.map */
