* {
  margin: 0;
  padding: 0;
}

span {
  display: block;
}

.logo {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.icon-yamaxun {
  font-size: 100px !important;
  margin-top: -10px;
}

.yam {
  position: absolute;
  margin-top: 14px;
  font-weight: 600;
}

.main {
  width: 350px;
  height: 426px;
  margin: 0 auto;
}

.loginbox {
  width: 296px;
  height: 304px;
  margin: 10px auto;
  padding: 20px 26px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.loginbox h5 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}
.loginbox .spanE {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
}
.loginbox .spanW {
  font-size: 12px;
  margin-top: 18px;
}
.loginbox .spanW a {
  text-decoration: none;
  color: #0066c0;
}
.loginbox .line {
  margin-top: 60px;
}
.loginbox .line h5 {
  left: 105px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  margin: 24px 0;
  position: relative;
  text-align: center;
}
.line h5 {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  display: inline-block;
  background-color: #fff;
  padding: 0 8px 0 7px;
  position: absolute;
  left: 117px;
  top: -6px;
}

.regbox {
  width: 100%;
  height: 32px;
  color: #111;
  margin: 0 auto;
  padding: 0 10px;
  cursor: pointer;
  background-image: linear-gradient(#f8f9fb, #e7e9ec);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 13px;
}

input, .cont {
  width: 290px;
  height: 26px;
  margin-top: 7px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
}

input {
  width: 288px;
}

.cont {
  margin-top: 10px;
  height: 29px;
  background-image: linear-gradient(#faecc8, #f0c14c);
  color: #111;
  font-size: 13px;
  cursor: pointer;
}

.cont:hover {
  background-image: linear-gradient(#f6da97, #eeb934);
}

.help {
  position: relative;
  left: -98px;
  top: 13px;
  width: 100px;
}
.help .icon-youjiantou {
  font-size: 10px;
  cursor: pointer;
}
.help li:nth-child(2), .help li:nth-child(3) {
  display: none;
  text-indent: 9px;
}
.help li {
  margin: 1px 0;
}
.help a {
  font-size: 13px;
}

.wechat {
  width: 290px;
  height: 26px;
  margin-top: 7px;
  border-radius: 3px;
  border: 1px solid #82858a;
  background-image: linear-gradient(#48dd51, #62d71f);
  cursor: pointer;
  line-height: 26px;
  text-align: center;
}
.wechat .icon-weixin {
  color: white;
  font-size: 12px;
}

.regbox:hover {
  border-color: #a2a6ac;
  background-image: linear-gradient(#ebedf2, #d9dce1);
}

footer {
  margin: 26px auto;
  width: 1400px;
  height: 2px;
  background-color: #e0e0e0;
}
footer .Lline {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  z-index: 1;
  content: "";
  position: relative;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 170px;
}
ul li {
  font-size: 11px !important;
  line-height: 1.465 !important;
  text-align: center;
  margin: 0 10px;
  float: left;
}
ul li a {
  text-decoration: none;
  color: #0066c0;
}
ul li a:hover {
  color: #c45500;
  text-decoration: underline;
}

.span1 {
  width: 669px;
  height: 10px;
  display: block;
  margin: 10px auto;
  font-size: 11px;
  color: #555;
  position: relative;
  top: 34px;
  left: -207px;
}

/*# sourceMappingURL=log.css.map */
